.container{
    height: 100vh;
    background-color: #E8E8FD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page{
    width: 1319px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(322deg, #F8F8FF 0%, #FFF 100%);
    box-shadow: 0px 49px 32px -19px rgba(56, 56, 150, 0.15);
}

.menu{
    width: 260px;
    background-color: #F8F8FF;
}

.menu-profile{
    width: 260px;
    height: 55px;
    padding: 58px 44px 49px 38px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: center;
}

.menu-profile img{
    width: 55px;
    height: 55px;
}

.menu-profile .user-name{
    width: 109px;
    height: 24px;
    display: flex;
    flex-direction: column;
    color: var(--1-a-194-d, #1A194D);
}

.menu-profile .user-tag{
    width: 70px;
    height: 21px;
    color: var(--style, #62618F);
}

.menu-navbar{
    width: 260px;
    height: 272px;
    padding: 0px 16px 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    justify-content: start;
}

.menu-navbar .box{
    padding: 8px 8px;
    width: 222px;
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: start;
    color: var(--style, #62618F);
}

.menu-navbar .box:hover{
    background-color: #EE4D38;
}

.box4-line{
    width: 6px;
    height: 48px;
    border-radius: 24px;
    background: var(--ee-6338, #EE4D38);
    align-self: stretch;
    position: absolute;
    left: 7%;
    top: 45%;
}

.menu-exit{
    width: 254px;
    height: 48px;
    padding: 8px 8px;
    margin-left: 6px;
    margin-bottom: 29px;
    margin-top: 180px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    justify-content: start;color: var(--style, #62618F);
}

.billing h1{
    width: 102px;
    height: 48px;
    margin: 40px 0px 0px 72px;
}

.billing-order-history{
    width: 315px;
    height: 49px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 25px 0px 0px 72px;
}

.billing-info{  
    width: 600px;
    height: 261px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 50px 0px 0px 56px;
    align-items: start;
    justify-content: start;
}

.billing-info-header{
    width: 555px;
    height: 21px;
    display: flex;
    flex-direction: row;
    padding: 0px 16px;
    justify-content: space-between;
    align-items: center;
}

.billing-info-box{
    width: 600px;
    height: 56px;
    display: flex;
    flex-direction: row;
    gap: 114px;
    align-items: center;
    justify-content: start;
}

.billing-info-box button{
    border-radius: 8px;
    border: 1px solid var(--cbcbd-9, #CBCBD9);
}

.billing-info-box:hover{
    background-color: #FFF;
}

.billing-info-box button:hover{
    background-color: #EE4D38;
    cursor: pointer;
    
}